# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
bin/
target/

# VSCode
.vscode/
*.code-workspace

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
coverage/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyc

shapes/
data/
newshapes/
newshapes2/

*.csv
*.keras